/.vagrant
/gps_tracker/__pycache__/
/gps_tracker/tests/__pycache__/


*.pyc
*.pyo
*.egg
*.egg-info

.python-version
.coverage

*.DS_Store

*thumb
*~

*.sublime-settings
*.sublime-project
*.sublime-workspace

*.swo
*.swp
