html { height: 100% }

body { height: 100%;
       margin: 0;
       padding: 0;
}

.header {
    background-color: #FFF5FF;
    min-width: 1000px;
    border-bottom: 1px solid #cccccc;
}

.container {
    width: 110px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3px;
    height: 35px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 130%;
    font-family: sans-serif;
    font-size: 15px;
}

li {
    display: inline;
    float: left;
    padding-right: 2px;
}

button.btn {
  background: #D7F0D7;
  border: 1px solid #AECFAE;
  border-radius: 3px;
  color: #333;
  padding: 1px;
  text-align: center;
  font-size: 25px;
  text-shadow: 0 1px 0 #ccc;
  width: 50px; }
  button.btn:hover {
    background: #AECFAE;
    cursor: pointer; }
  button.btn:active {
    background: #80B280;
    box-shadow: inset 0 0 1px 1px #e3e3e3;
    color: #000; 
}

#map_canvas { 
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
}

#form_canvas { 
    display: none;
    width: 200px;    
}

#fromDB {
  max-width: 250px;
  height: 100%;
  margin-bottom: 5px;
}

#fromDB>#header {
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 20px;
  padding-bottom: 0px;
}

#fromDB>#date {
  font-size: 12px;
  color: #555;
  padding-top: 0px;
  padding-bottom: 5px;
  vertical-align: middle;
}

#fromDB>#infoBody {
  font-size: 15px;
  height: 100%;
  margin-bottom: 10px; 
}

#fromDB>#dButton {
  width: 100%;
}

#editPen {
  font-size: 23px;
  color: #555;
  float: right;
}
#editPen:hover {
  color: #80B280;
  cursor: pointer;
}

#time {
  color: green;
  font-size: 18px;
}

span.postButton {
  background: #D7F0D7;
  border: 1px solid #AECFAE;
  border-radius: 3px;
  color: #333;
  padding: 1px;
  text-align: center;
  text-shadow: 0 1px 0 #ccc;
  }
  span.postButton:hover {
    background: #AECFAE;
    cursor: pointer; }
  span.postButton:active {
    background: #80B280;
    box-shadow: inset 0 0 1px 1px #e3e3e3;
    color: #000; 
}

span.delButton {
  background: #ffd6d6;
  border-radius: 3px;
  color: #222;
  padding: 1px;
  text-align: center;
  font-size: 15px;
  width: auto;
  height: auto; }
  span.delButton:hover {
    background: #ff8585;
    cursor: pointer; }
  span.delButton:active {
    background: #ff8080;
    box-shadow: inset 0 0 1px 1px #e3e3e3;
    color: #000; 
}