html { 
  height: 100%;
  margin: 0;
  padding: 0;
 }

body { 
  height: 100%;
  margin: 0;
  padding: 0;
}

.header {
    background-color: #FFF5FF;
    min-width: 1000px;
    border-bottom: 1px solid #cccccc;
}

.container {
    position: relative;
    width: 210px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3px;
    height: 35px;
}

select {
    min-width: 180px;
    font-size: 15px;
    padding:3px;
    margin: 0;
    border-radius:4px;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    appearance:none;
    cursor:pointer;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 130%;
    font-family: sans-serif;
    font-size: 15px;
}

li {
    display: inline;
    float: left;
    padding-right: 2px;
}

fieldset {
  font-family: sans-serif;
  border-top: 1px solid #AECFAE;
  border-bottom: 0px;
  border-right: 0px;
  border-left: 1px solid #AECFAE;
  border-radius: 3px;
}

fieldset legend {
  color: #80B280;
  border-radius: 3px;
  box-shadow: 0 0 0 1px #80B280;
}

input {
  border: 1px dotted #80B280;
  border-radius: 3px;
  box-shadow: 
      inset 0 0 2px  rgba(0,0,0,0.1),
            0 0 4px rgba(0,0,0,0.1); 
  outline: none;
  color: #444;
}

label {
  color: #222;
}

textarea {
  border: 1px dotted #80B280;
  border-radius: 3px;
  box-shadow: 
      inset 0 0 1px  rgba(0,0,0,0.1),
            0 0 2px rgba(0,0,0,0.1); 
  outline: none;
  color: #444; 
}

button.btn {
  background: #D7F0D7;
  border: 1px solid #AECFAE;
  border-radius: 3px;
  color: #333;
  padding: 1px;
  text-align: center;
  font-size: 25px;
  text-shadow: 0 1px 0 #ccc;
  width: 50px; }
  button.btn:hover {
    background: #AECFAE;
    cursor: pointer; }
  button.btn:active {
    background: #80B280;
    box-shadow: inset 0 0 1px 1px #e3e3e3;
    color: #000; 
}

#select_div {
  display: none;
}

#settings_panel {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ccc;
  display: none;
}

#settings_panel>#companies {
  position: relative;
  float: left;
  background-color: #999;
  height: 100%;
  width: 30%;      
}

#settings_panel>#companies>#select_container {
  position: relative;
  vertical-align: top;
  background-color: red;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}

#settings_panel>#companies>#companies_container {
  position: relative;
  vertical-align: bottom;
/*  height: 100%;
  width: 86%;*/
  background-color: yellow;
}

#settings_panel>#stations {
  position: relative;
  float: right;
  background-color: green;
  height: 100%;
  width: 70%;
}

#map_canvas { 
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
}

#form_canvas { 
    display: none;
    width: 200px;    
}

#fromDB {
  position: relative;
  max-width: 250px;
  width: 215px;
  height: 100%;
  margin-bottom: 10px;
}

#fromDB>#header {
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 20px;
  padding-bottom: 0px;
}


#fromDB>#date {
  font-size: 12px;
  color: #555;
  padding-top: 0px;
  padding-bottom: 5px;
  vertical-align: middle;
}


#fromDB>#dButton {
  width: 100%;
  position: absolute;
  bottom: 0px;
}

#editPen {
  font-size: 23px;
  color: #555;
  float: right;
  vertical-align: top;
}

#editPen:hover {
  color: #80B280;
  cursor: pointer;
}

#time_icon {
  color: green;
  font-size: 18px;
}

span.postButton {
  background: #D7F0D7;
  border: 1px solid #AECFAE;
  border-radius: 3px;
  color: #333;
  padding: 1px;
  text-align: center;
  text-shadow: 0 1px 0 #ccc;
  }
  span.postButton:hover {
    background: #AECFAE;
    cursor: pointer; }
  span.postButton:active {
    background: #80B280;
    box-shadow: inset 0 0 1px 1px #e3e3e3;
    color: #000; 
}

span.delButton {
  background: #ffd6d6;
  border-radius: 3px;
  color: #222;
  padding: 1px;
  text-align: center;
  font-size: 15px;
  width: auto;
  height: auto; }
  span.delButton:hover {
    background: #ff8585;
    cursor: pointer; }
  span.delButton:active {
    background: #ff8080;
    box-shadow: inset 0 0 1px 1px #e3e3e3;
    color: #000; 
}