<!DOCTYPE html>
<html>

  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    
    <!-- Google Maps API -->
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?sensor=false">
    </script>

    <!-- my JS -->
    <script type="text/javascript" src="/static/js/try2.js"></script>
  </head>

  <body>
    <div class="header">
        <div class="container">
            <ul>
                <li>
                    <button class="btn" id="showLoc" onclick="geoLocation()" title="Show my current location">↻</button>
                </li>
                <li>
                    <button class="btn" id="addPoint" onclick="addNewPoint()" title="Choose a point">◉</button>
                </li>
            </ul>
        </div>
    </div>

    <div id="map_canvas"></div>

    <div id="form_canvas">
    <form id="newForm">
        <fieldset form="newForm"> 
            <legend><b>POINT DETAILS</b></legend> 
         
            <div> 
                <label>Latitude<br>
                <input id="lat" name="latitude" type="text" required="">
                </label> 
            </div>

            <div> 
                <label>Longitude<br>
                <input id="lng" name="longitude" type="text" required=""> 
                </label> 
            </div>

            <div> 
                <label>Gas station<br>
                <input id="gas_station" name="gas_station" type="text" required=""> 
                </label> 
            </div>

            <div> 
                <label for="description">Description:<br> 
                <textarea id="description" name="description" rows="5" required=""></textarea>
                </label> 
            </div> 
            <div>
                <button onclick="postToMongo()">Add this point to DataBase</button>
            </div>
          </fieldset>
    </form>
    </div>

  </body>
</html>
