<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    
    <!-- Google Maps API -->
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?sensor=false">
    </script>

    <!-- my JS -->
    <script type="text/javascript" src="/static/js/general.js"></script>
  </head>

  <body>
    <div class="header">
        <div class="container">
            <ul>
                <li>
                    <button class="btn" id="showLoc" onclick="geoLocation()" title="Show my current location">↻</button>
                </li>
                <li>
                    <button class="btn" id="addPoint" onclick="addNew('/points')" title="Choose a point">◉</button>
                </li>
                <li>
                    <button class="btn" id="addStation" onclick="addNew('/stations')" title="Choose a station">⛽</button>
                </li>
                <li>
                    <button class="btn" id="settings" onclick="settings()" title="Settings">⚙</button>
                </li>
            </ul>
        </div>
    </div>

    <div id="settings_panel">
        <div id="companies">
            <div id="select_container">
                <select id="companies_list" onchange="if (this.value) showCompany(this.value);"></select>
            </div>

            <div id="companies_container">
            </div>
        </div>

        <div id="stations">
            <div id="stations_container"></div>
        </div>
    </div>

    <div id="map_canvas"></div>

    <div id="form_canvas">
    <form id="newForm">
        <fieldset form="newForm"> 
            <legend><b>OBJECT DETAILS</b></legend> 
         
            <div> 
                <label>Latitude<br>
                <input id="lat" name="latitude" type="text" required="">
                </label> 
            </div>

            <div> 
                <label>Longitude<br>
                <input id="lng" name="longitude" type="text" required=""> 
                </label> 
            </div>

            <div id="select_div">
                <label>Company:<br>
                    <select id="select_form"></select>
                </label><br><br>
            </div>

            <div> 
                <label>Title<br>
                <input id="title" name="title" type="text" required="" maxlength="20"> 
                </label> 
            </div>

            <div> 
                <label for="description">Description:<br> 
                <textarea id="description" name="description" rows="5" required="" maxlength="140"></textarea>
                </label> 
            </div> 
            <div>
                <span id="pButton" class="postButton" onclick="postToMongo('/points')"> Save this object </span>
            </div>
          </fieldset>
    </form>
    </div>

  </body>
</html>
